<% provide(:title, "About") %>
<h1>About</h1>
    <p>The SCP Wiki is an archive for short horror fiction on the internet.
    SCP stands for Special Containment Procedure, and each story describes
    a method for the containment of a fictional monster.
    The original SCP was <a href="http://scp-wiki.wikidot.com/scp-173">SCP-173</a>,
    The Sculpture, and one of the most famous is <a href="http://scp-wiki.wikidot.com/scp-682">SCP-682</a>,
    The Hard-To-Destroy Reptile. Start with these two if you're interested!</p>
