<% provide(:title, "Contact") %>
<h1>Contact Me</h1>
    <p>I'm Erin Scherl, a senior student at Grinnell College. 
    This is my independent project for CSC 324.
    You can email me at scherler@grinnell.edu.</p>