<% provide(:title, "Home") %>
<h1>BestCP</h1>
    <p>This is a website to help you track your favorite entries on the <a href="http://scp-wiki.wikidot.com/">SCP Wiki.</a> 
        Right now, you can click on the Random page to get a randomly generated SCP, and check the About page for info about what an SCP is.
        Stay tuned for more content!</p>