<% provide(:title, "Home") %>
<h1>BestCP</h1>
    <p>This is a website to help you track your favorite entries on the <a href="http://scp-wiki.wikidot.com/">SCP Wiki.</a> 
        It doesn't work yet, but stick around!</p>