<% provide(:title, "Random") %>
<% num = get_num %>
<div class="center jumbotron">
<center>
    <h2>You should read:<h2>
    <h1><a href="http://www.scpwiki.com/scp-<%=num%>">SCP-<%=num%></a><h1>
<center>