<footer class="footer">
<small>
  BestCP, a favorites tracker for the <a href="http://scp-wiki.wikidot.com/">SCP Wiki.</a>
</small>
<nav>
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
</nav>
</footer>